= render "layouts/header"
.container
	.content--center--large
		= link_to "Add Company", new_company_path
		%table
			%thead
				%tr
					%th Company Name
					%th Location
					%th Options
			%tbody
				- @companies.each do |company|
					%tr
						- cache(company) do
							%td= link_to company.name, company_path(company)
							%td= company.city
							%td= link_to "Edit", edit_company_path(company)
