= render "layouts/header"
.container
  .content--center--large
    %table
      %thead
        %tr
          %th Company
          %th Contact Name
          %th Email
          %th Phone
          %th Status
      %tbody
        - @owner_relations.each do |relation|
          - owner = User.find(relation.user_id)
          - company = Company.find(relation.company_id)
          %tr
            - cache(owner) do
              %td= link_to company.name, company_path(company.id)
              %td= link_to owner.name, user_path(owner)
              %td= owner.email
              %td
                - if owner.phone
                  = owner.phone
              - if relation.verified == false
                %td= link_to "Unverified", verify_relation_path(relation.id)
              - else
                %td Verified
