= form_for @user, url: new_owner_path, method: :post do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :company_id, value: @company.id
  = f.hidden_field :role, value: :owner
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :email
    %br
    = f.email_field :email
  .field
    = f.label :phone
    %br
    = f.telephone_field :phone
  .field
    = f.label :password
    %br
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation
  .actions
    = f.submit 'Save'
