= render "layouts/header"
.container
	.content--center
		%p
			%b Name:
			= @user.name
		%p
			%b Email:
			= @user.email
		%p
			%b Company:
			- @companies.each do |company|
				= link_to company.name, company_path(company.id)
				- if company.reviews 
					%ul
						- company.reviews.each do |review|
							%li
								%article
									%h4= review.title
									%h5= review.description
									- if review.response
										%h5 Respond
									- else
										%h5 Respond
		%p
			%b Status:
			- if @user.role = :owner
				Verified
			- else
				Unverified
		- if @user.reviews.count > 0
			%h3 My reviews
			%ul
				- @user.reviews.each do |review|
					%article
						%li=review.title
		= link_to 'Edit', edit_user_path(@user)
