= render "layouts/header"
.container
	.content--center
		%p
			%b Name:
			= @user.name
		%p
			%b Email:
			= @user.email
		- if @user.reviews 
			%ul
				- @user.reviews.each do |review|
					%article
						%li= review.title
						%li= review.description
		= link_to 'Edit', edit_user_path(@user)