= render "layouts/header"
.container
  .content--center--large
    .profile--left
      =image_tag @user.profile_pic.url(:thumb)
      %h1= @user.name
      = link_to 'Edit Details', edit_user_path(@user)
      %p.trigger--password Change Password
      .form--password-change
        = form_for @user, url: change_password_path, method: :post, remote: true do |f|
          = f.hidden_field :id, value: @user.id
          .field
            = f.label :password
            %br
            = f.password_field :password, class: "small"
          .field
            = f.label :password_confirmation
            %br
            = f.password_field :password_confirmation, class: "small"
            %br
          .actions
            = f.submit 'Save', class: "small"
    .profile--right
      - if is_owner?
        %h2 My Companies
        - @user.companies.each do |company|
          .card--profile
            .card--profile--header
              %h3= link_to company.name, company_path(company.id), class: "card-header"
            .card--profile--content
              %h3
                Status:
                - relation = UserCompanyRelation.where(company_id: company.id, user_id: @user.id)[0]
                - if relation.verified == true
                  %span.green Verified
                - else
                  %span.red Pending verification
              - if company.reviews
                %table
                  - company.reviews.each do |review|
                    %tr
                      %td= "#{review.created_at.strftime("%m/%d/%y")}"
                      %td= "\"#{review.title}\""
                      %td= link_to "More...", review_path(review)
      - if @user.reviews.count > 0
        %h2 My Reviews
        %ul.profile--reviews
          - @user.reviews.each do |review|
            .card--profile
              .card--profile--header
                %h3= link_to review.company.name, company_path(review.company.id) + "\"#{review.title}\"", class: "card-header"
              .card--profile--content
                - review.company.get_rating.times do
                  %span.icon-yellow
                - (5 - review.company.get_rating).times do
                  %span.icon-gray
                %h3= "\"#{review.title}\""
                = review.description
      - else
        %h1 You haven't written any reviews yet!
