= render "layouts/header"
.container
	.content--center--large
		.profile--left
			=image_tag @user.profile_pic.url(:thumb)
			%h1= @user.name
			= link_to 'Edit Details', edit_user_path(@user)
			%p.trigger--password Change Password
			.form--password-change
				= form_for @user, url: change_password_path, method: :post, remote: true do |f|
					= f.hidden_field :id, value: @user.id
					.field
						= f.label :password
						%br
						= f.password_field :password, class: "small"
					.field
						= f.label :password_confirmation
						%br
						= f.password_field :password_confirmation, class: "small"
						%br
					.actions
						= f.submit 'Save', class: "small"
		.profile--right
			- if is_owner?
				%h3 My Companies:
				- @user.companies.each do |company|
					%h4= link_to company.name, company_path(company.id)
					%p
					Status:
					- if @user.role = :owner
						Verified
					- else
						Unverified
					- if company.reviews 
						%ul
							- company.reviews.each do |review|
								%li
									%span= "#{review.created_at.strftime("%m/%d/%Y")} - \"#{review.title}\""
									%span= link_to "See more...", review_path(review)
			- if @user.reviews.count > 0 
				%h3 My Reviews:
				%ul.profile--reviews
					- @user.reviews.each do |review|
						%li
							%article
							%h4
								= link_to review.company.name, company_path(review.company.id) + "\"#{review.title}\""
								- review.company.get_rating.times do
									%span.icon-yellow &#xe602
								- (5 - review.company.get_rating).times do
									%span.icon-gray &#xe602
							%h4= "\"#{review.title}\""
							= review.description
			- else
				%h1 You haven't written any reviews yet!
