= form_for @company do |f|
  - if @company.errors.any?
    #error_explanation
      %h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
      %ul
        - @company.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br
    = f.text_field :name, required: true
  .field
    = f.label :industry
    %br
    = f.text_field :industry
  .field
    = f.label :country
    %br
    = f.text_field :country
  .field
    = f.label :city
    %br
    = f.text_field :city
  .field
    = f.label :state
    %br
    = f.text_field :state
  .field
    = f.label :postal_code
    %br
    = f.text_field :postal_code
  .field
    = f.label :logo
    = f.file_field :logo
  .actions
    = f.submit 'Save'
