= render "layouts/header"
.container
	.content--center
		= link_to "Add Company", new_company_path
		%table
			%thead
				%tr
					%th Company Name
					%th Location
					- if current_user && is_admin?
						%th Options
					- else
						%th Rating
			%tbody
				- @companies.each do |company|
					%tr
						- cache(company) do
							%td
								= link_to company.name, company_path(company)
							%td= company.city
							- if current_user && is_admin?
								%td= link_to "Edit", edit_company_path(company)
							- else
								- if company.reviews.count > 0
									%td= company.get_rating
								- else
									%td No reviews
	
