= render "layouts/header"
.container
	.profile--header
		.info--logo
			= image_tag @company.logo.url(:thumb)
		.info--company
			%h1= @company.name
			.info--location
				= @company.city
				- if @company.state
					= ", #{@company.state}"
				- if @company.country
					= ", #{@company.country}"
	.content--center--large
		- if @company.reviews.count > 0
			%ul
				- @company.reviews.each do |review|
					%li
						%article
							%h2= review.title
							- if review.would_work_with
								%h3 I would work with this company again.
							- else
								%h3 I would not work with this company again.
							%p= review.description
							%p= "Communication: #{review.rating_communication}"
							%p= "Reason: #{review.rating_expectations}"
							%p= "Payment: #{review.rating_payment}"
							= link_to "Flag this review", flag_review_path(review), remote: true, method: :post
		- else
			%h2 There are no reviews for this company.
		= link_to "Review this company", "/reviews/new?id=#{@company.id}"
		\|
		- if current_user
			= link_to "Claim this company", "/owners/claim_company?id=#{@company.id}"
		- else
			= link_to "Claim this company", "/owners/new_owner?id=#{@company.id}"
