= render "layouts/header"
.container
	.content--center--large
		- if @results.size > 0
			%h3= "Search results for #{@search_term}"
			%ul
				- @results.each do |result|
					%li
						%article
							%h4
								= link_to result.name, company_path(result.id)
								= "#{result.city}, #{result.country}"
							- if result.reviews.count >= 1
								- if result.reviews.count > 1
									%span= "#{result.reviews.count} reviews"
								- elsif result.reviews.count == 1
									%span= "#{result.reviews.count} review"
								%span
									- result.get_rating.times do
										%span.icon-yellow &#xe602
									- (5 - result.get_rating).times do
										%span.icon-gray &#xe602

								%h4= "#{result.rating}% would work with this company again."
		- else
			%h3 There are no results for this search.
		=link_to "Add a company", new_company_path
		\|
		=link_to "View all companies", companies_path

