%h1=@company.name
= form_for @review  do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :company_id, value: @company.id
  .field
    = f.label :description
    %br
    = f.text_field :description
  .actions
    = f.submit "Submit"