%h1=@company.name
= form_for @review  do |f|
	= f.hidden_field :user_id, value: current_user.id
	= f.hidden_field :company_id, value: @company.id
	.field
		= f.label :title
		%br
		= f.text_field :title
	.field
		= f.label :description
		%br
		= f.text_area :description
	.field.rating-box
		%h3 Are payments delivered in accordance with the contract?
		= f.radio_button :rating_payment, 1, id: "rating_payment_1"
		= f.label :rating_payment, for: "rating_payment_1"
		= f.radio_button :rating_payment, 2, id: "rating_payment_2"
		= f.label :rating_payment, for: "rating_payment_2"
		= f.radio_button :rating_payment, 3, id: "rating_payment_3"
		= f.label :rating_payment, for: "rating_payment_3"
		= f.radio_button :rating_payment, 4, id: "rating_payment_4"
		= f.label :rating_payment, for: "rating_payment_4"
		= f.radio_button :rating_payment, 5, id: "rating_payment_5"
		= f.label :rating_payment, for: "rating_payment_5"
	.field
		%h3 Communication
		= f.label "Nope"
		= f.radio_button :rating_communication, 1
		= f.radio_button :rating_communication, 2
		= f.radio_button :rating_communication, 3
		= f.radio_button :rating_communication, 4
		= f.radio_button :rating_communication, 5
		= f.label "Yep"
	.field
		%h3 Realistic expectations
		= f.label "Nope"
		= f.radio_button :rating_expectations, 1
		= f.radio_button :rating_expectations, 2
		= f.radio_button :rating_expectations, 3
		= f.radio_button :rating_expectations, 4
		= f.radio_button :rating_expectations, 5
		= f.label "Yep"
	.field
		%h3 Would you work with them again?
		= f.label "Yes"
		= f.radio_button :would_work_with, true
		= f.label "No"
		= f.radio_button :would_work_with, false
	.actions
		= f.submit "Submit"